
/* buttons */

button {
  appearance: none;
  background-color: #1C1A1D;
  border: none;
  border-radius: 6px;
  color: #F2EFE7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Urbit Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #1C1A1D;
  color: #F2EFE7;
  text-decoration: none;
}

button:disabled {
  background-color: #1C1A1D;
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #1C1A1D;
  color: #F2EFE7;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

button.accept, button.reject {
  color: #F2EFE7;
  background-color: #1C1A1D;
}

button.reject {
  margin-left: 0.5em;
}

button.challenge-friend {
  color: #F2EFE7;
  background-color: #1C1A1D;
}

button.radio-selected {
  background-color: #1C1A1D;
  color: #F2EFE7;
}

button.radio-unselected:hover {
  background-color: #1C1A1D;
  color: #F2EFE7;
}

button.side {
  height: 60px;
  width: 60px;
}

button.side piece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.split-kings-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.left-half {
  clip-path: inset(0 50% 0 0);
}

.right-half {
  clip-path: inset(0 0 0 50%);
}

button.option {
  width: 80%;
  margin-top: 1rem;
}

/* Inverted buttons */
button.inverted {
  background-color: #F2EFE7;
  color: #1C1A1D;
}

