
/* buttons */

button {
  appearance: none;
  background-color: #F2EFE7;
  border: none;
  border-radius: 6px;
  color: #1C1A1D;
  cursor: pointer;
  display: inline-block;
  font-family: 'Urbit Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #E0E0E0;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #F2EFE7;
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

button.accept, button.reject {
  color: #F2EFE7;
  background-color: #1C1A1D;
}

button.reject {
  margin-left: 0.5em;
}

button.radio-selected {
  background-color: #5FFF9D;
}

button.radio-unselected:hover {
  background-color: #CAFFDF;
}

button.side {
  height: 50px;
  width: 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

button.option {
  width: 80%;
  margin-top: 1rem;
}
