.control-panel {
  width: 360px;
  height: 100%;
  background-color: #1C1A1D;
}

.menu-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-top: 70px;
}

.menu-selector span {
  color: #F2EFE7;
  cursor: pointer;
}

.inactive {
  opacity: 0.5;
}

li.selected {
  box-shadow: 0px 0px 5px 2px lightskyblue;
}

/* Games menu */

div.games-container {
  height: 100%;
  width: 75%;
  align-items: center;
  margin: auto;
}

div.games-container span {
  color: #F2EFE7;
}

div.game-options {
  width: 100%;
  align-items: center;
}

#active-archive-toggle {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

#active-archive-toggle span {
  cursor: pointer;
}

/* Challenges menu */

div.challenges-container {
  height: 100%;
  width: 100%;
/*   align-items: center; */
}

div.new-challenge-container {
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

div.challenge-input-container {
  width: 100%;
  justify-content: space-between;
}

div.challenge-side-container {
  width: 100%;
  justify-content: space-evenly;
}

div#challenges-header {
  align-items: center;
}

div#challenges-header p {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

div#challenges-header span {
  color: #F2EFE7;
  cursor: pointer;
}

/* Settings menu */

div.settings-container {
  /* XX: overflow should be consistent for all menus */
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-areas:
  "visuals"
  "gameplay"
  "data"
  "footer";
  grid-template-rows: 45% auto auto 10%;
}

div.settings-container #visuals-settings {
  grid-area: visuals;
  border-bottom: 1px black solid;
  overflow-y: auto;
}

div.settings-container #gameplay-settings {
  grid-area: gameplay;
  border-bottom: 1px black solid;
}

div.settings-container #data-settings {
  grid-area: data;
}

/* XX: do we need this? implementation feels bad */
div.settings-container #data-settings button {
  width: 80%;
  margin: auto;
}

div.settings-container #settings-footer {
  grid-area: footer;
  justify-content: center;
  align-items: center;
}

div.settings-container #settings-footer p {
  font-size: 0.8em;
}

div.draw-resolution {
  justify-content: space-evenly;
}
