.control-panel {
  width: 360px;
  height: 100%;
  background-color: #1C1A1D;
}

.menu-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  margin-top: 70px;
}

.menu-selector span {
  color: #F2EFE7;
  cursor: pointer;
}

.inactive {
  opacity: 0.5;
}

/* Games menu */

div.games-container {
  height: 100%;
  width: 75%;
  align-items: center;
  margin: auto;
}

div.games-container span {
  color: #F2EFE7;
}

div.game-options {
  width: 100%;
  align-items: center;
}

#active-archive-toggle {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

#active-archive-toggle span {
  cursor: pointer;
}

/* Challenges menu */

div.challenges-container {
  height: 100%;
  width: 75%;
/*   align-items: center; */
}

div.new-challenge-container {
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

div.challenge-input-container {
  width: 100%;
  justify-content: space-between;
}

div.challenge-side-container {
  width: 100%;
  justify-content: space-evenly;
}

div#challenges-header {
  align-items: center;
}

div#challenges-header p {
  position: relative;
  top: 18px;
  margin-bottom: 10px;
}

div#challenges-header span {
  color: #F2EFE7;
  cursor: pointer;
}

/* Settings menu */

.settings-container {
  height: 100%;
  width: 75%;
  margin: auto;
}

.settings-header {
  width: 75%;
  margin: auto;
  color: #F2EFE7;
}

.settings-header span {
  color: #F2EFE7;
  cursor: pointer;
}

.settings-submenu-container {
  height: 100%;
}

/* Basic link styling */
#settings-footer p {
  color: #F2EFE7; /* Sets the default color */
  cursor: pointer; /* Changes the cursor to a pointer */
}

#settings-footer p a {
  text-decoration: none;
}

/* Link styling when hovered */
#settings-footer p a:hover {
  text-decoration: underline; /* Underlines the link on hover */
  color: #F2EFE7; /* Keeps the color consistent */
}

/* Link styling when focused */
#settings-footer p a:focus {
  outline: 2px solid #F2EFE7; /* Adds an outline when the link is focused */
  outline-offset: 2px; /* Adds space between the outline and the link */
  color: #F2EFE7; /* Keeps the color consistent */
}

/* Link styling when active (clicked) */
#settings-footer p a:active {
  color: #F2EFE7; /* Keeps the color consistent */
}

/* Visited link styling */
#settings-footer p a:visited {
  color: #F2EFE7; /* Keeps the color consistent */
}
