
/* images and icons */

.game-icon {
  height: 60px;
  width: 60px;
  background-size: cover;
}

.challenge-box img {
  height: 60px;
  width: 60px;
}

.theme-icon {
  position: unset; /* for board icons specifically */
  border-radius: 0.5rem;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-color: #F2EFE7;
}

.board-icon {
  position: unset;
  border-radius: 0.5rem;
  background-size: 240px;
}

.material-diff-icon {
  height: 30px;
  width: 30px;
}

.game-panel-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 10px;
}

.game-panel-button {
  height: 50px;
  width: 40px;
}

ul.theme-list {
  align-self: center;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 60px auto auto;
  grid-gap: 0.5rem;
}

li.theme {
  border-radius: 0.55rem;
  list-style: none;
  cursor: pointer;
  display: grid;
  width: 60px;
}

#red2 {
  background-size: 500px;
  height: 15px;
  width: 15px;
}

li.red2 {
  transform: translate(182px, -207px);
  border: none;
  box-shadow: none;
  width: 15px;
}
