
/* pop-up menus */

.popup-content {
  background-color: #F2EFE7;
  border-radius: 10px;
  padding: 25px;
}

.popup-overlay {
  background-color: rgba(28, 26, 29, 0.5);
}

.challenges-popup-content {
  background-color: #1C1A1D;
}

.challenge-input-container input {
  background-color: #F2EFE7;
  border: none;
  border-radius: 0.10rem;
}

.chess-promotion.cg-wrap {
  z-index: 3;
  pointer-events: auto;
}
